site_name: mlops_project
site_author: ML-Ops Group 85
docs_dir: source
site_url: https://RABL1N.github.io/mlops_project

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API and Frontend: api.md
  - Deployment: deployment.md
  - Testing: testing.md
