name: Data changes pipeline (M19)

on:
  push:
    paths:
      - "data/**"
      - "configs/**"
      - "**/*.dvc"
      - "dvc.yaml"
      - "dvc.lock"
  pull_request:
    paths:
      - "data/**"
      - "configs/**"
      - "**/*.dvc"
      - "dvc.yaml"
      - "dvc.lock"

jobs:
  data_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q
